* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.d_flex {
    display: flex;
}

header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    padding: 20px 20px 0 20px;
}

.left {
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
}

li {
    list-style: none;
    padding-right: 20px;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
}

.mb_20 {
    margin-bottom: 20px;  
}

.mr_10 {
    margin-right: 10px;
}